{% extends "layout.twig" %}

{% block page_container %}


{% if site.current_user is not null %}

<div class='section page_cabinet'>
	<div class='section__wrap'>
		
		<div class='page_cabinet_wrap'>
			
			{% set menu = function("apply_filters", "elberos_user_cabinet_menu", [])%}
			
			<div class='page_cabinet_menu'>
				<ul>
					{% for item in menu %}
					<li class='{{ site.isRouteNameBegins(item.route_name) ? "active" : "" }}'>
						<a href='{{ site.locale_prefix }}{{ item.href }}' class='nolink'>
							{{ item.label }}
						</a>
					</li>
					{% endfor %}
				</ul>
				<a class='page_cabinet_logout nolink' href='{{ site.locale_prefix }}/cabinet/logout/'>
					<button class='button button-logout'>
						Выход
					</button>
				</a>
			</div>
			
			<div class='page_cabinet_content'>
				<div class='page_cabinet_title'>
					<h1>{{ site.title }}</h1>
				</div>
				{% block content %}
					
					
					
				{% endblock %}
			</div>
			
		</div>
		
	</div>
</div>

{% else %}

{% include "@user-cabinet/login-form.twig" %}

{% endif %}


{% endblock %}